/*   
Nagendra, Sathyasagar    
 Account:  jadrn024
Class: CS645, Spring 2018
Assignment :  Project #1 */ 

.validity{
	font-family: "Times New Roman", Times, serif;
    color: #dc3545;
}

.h1{
	text-align:center;
}

.h4{
	text-align:center;
}